 
.banner {
  padding: 300px 0px 130px;
  background-color: var(--black);
  position: relative;
  z-index: 1;
  overflow: hidden;

  .banner__content {
    margin-top: -20px;
  }

  .interval {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 60px;

    i {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 9px var(--primary-color);
    }
  }

  .banner__content-inner {
    max-width: 400px;
    margin-top: 100px;
    text-align: start;
    .cta {
      margin-top: 60px;
      display: flex;
      align-items: center;
      gap: 60px;
      row-gap: 24px;
      flex-wrap: wrap;
    }

    h5 {
      color: var(--primary-color);
    }

    .single {
      p {
        color: var(--secondary-color);
        margin-top: 6px;
        text-transform: capitalize;
      }
    }
  }

  .banner-one-thumb {
    position: absolute;
    top: 220px;
    left: 53%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    max-width: 668px;
    height: auto;
    border-radius: 50%;
    opacity: 0.5;
  }

  .star {
    position: absolute;
    top: 220px;
    left: 100px;
    z-index: -1;
  }

  .banner-social-text {
    display: flex;
    align-items: center;
    gap: 24px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    a {
      text-transform: uppercase;
      color: var(--secondary-color);
      font-weight: 500;
      font-size: 20px;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .banner-left-text {
    position: absolute;
    bottom: 90px;
    left: 90px;
  }

  .banner-right-text {
    position: absolute;
    bottom: 100px;
    right: 90px;
  }

  .video-frame {
    position: absolute;
    bottom: 170px;
    right: 10%;
    @include box(190px);
    font-size: 80px;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0px;
      animation: rotateInfinite 24s linear infinite;
      animation-play-state: running;
    }

    &:hover {
      img {
        animation-play-state: paused;
      }
    }
  }
}



.banner-five {


  &.is-pinned {
    .banner-five__wrapper {
      padding-top: 240px; // 90px extra on top
    }
  }

  .banner-five__wrapper {
    gap: 30px;
    padding: 20px 0px 130px;
    display: flex;
    align-items: center;
    gap: 60px;

    .slick-track {
      padding: 20px 0px !important;
    }

    .banner-five__single {
      min-width: 100%;
      text-align: right;
      width: 100%;
      padding: 0px 150px 0px 350px;
    }

    .projects-s__single {
      padding: 30px;
      // border: 1px solid #414141;

      .thumb {
        display: none !important;

        a {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }

      .content {
        margin-top: 30px;

        h4 {
          text-transform: capitalize;
        }

        p {
          margin-top: 20px;
          color: #d9d9d9;
        }
      }
    }
  }
}

h2.title.title-anim.h-title {
  padding: 320px 30px 80px 90px !important;
}