/* ==== 
 --------- (4.03) footer styles start ---------
 ==== */

// footer one
.footer {
  background-color: var(--tertiary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  padding-top: 100px;

  .gaper {
    row-gap: 60px;
  }

  .footer__single-meta {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
    margin: 30px 0px 40px;
    a {
      max-width: 220px;
      color: var(--white);
      line-height: 28px;
      font-weight: 500;
      align-items: flex-start;
      padding: 20px 0px !important;
      i {
        line-height: inherit;
      }
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .footer__single-intro {
    margin-bottom: 30px;
    h5 {
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  ul {
    li {
      margin-bottom: 12px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
      a {
        text-transform: capitalize;
        &:hover {
          padding-left: 6px;
        }
      }
    }
  }

  .footer__single-form {
    margin-top: 30px;
  }

  .footer__copyright {
    padding: 65px 0px;

    .gaper {
      row-gap: 30px;
    }
  }

  .footer__copyright-text {
    p {
      color: var(--secondary-color);

      a {
        font-weight: 600;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .social {
    gap: 8px;

    a {
      background-color: transparent;
      border: 1px solid #888888;
      color: #888888;
      position: relative;
      z-index: 1;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0px;
        height: 0px;
        background-image: linear-gradient(180deg, #f90 0%, #ee332b 100%);
        transition: var(--transition);
        z-index: -1;
      }
      &:hover {
        &::before {
          width: 100%;
          height: 100%;
        }
        color: var(--white);
        border: 1px solid var(--primary-color);
      }
    }
  }
}

 
 
.footer__single-meta {
    display: flex;
    padding: 20px 0px ;
    gap: 30;
    flex-direction: column;
    gap: 11px;
}.footer__copyright {
    padding-bottom: 20px !important;
}
.footer__single-content {
      display: flex;
    padding: 10px 0px ;
        flex-direction: column;

    gap: 20px;
}
.footer__single {
  padding: 130px 0 60px 0;
}

 @media (max-width: 768px) {
  .footer__single {
    padding: 0px 0;
  }
}
.input-email{
  border-radius: 20px;
}
