/* ==== 
 --------- (5.0) all sections styles start ---------
 ==== */

// 5.01  agency styles
.agency {
  // background-color: var(--tertiary-color);
  z-index: 1;
  position: relative;

  .agency__thumb {
    position: relative;
    overflow: hidden;
    text-align: end;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 10%;
      width: 40px;
      height: 40px;
      background-image: url("../../../public/images/agency/dot.png");
      background-size: cover;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 40px;
      height: 40px;
      background-image: url("../../../public/images/agency/dot.png");
      background-size: cover;
      z-index: -1;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .thumb-one {
      position: absolute;
      top: 0px;
      left: 0px;
      max-width: 80%;
    }

    .thumb-two {
      margin-top: 100px;
      z-index: 2;
      position: relative;
      max-width: 80%;
    }
  }

  .agency__content {
    padding-left: 70px;
  }

  .star {
    position: absolute;
    top: 50%;
    left: 40px;
    z-index: -1;
  }

  .skill-wrap {
    margin-top: 40px;
  }

  .skill-bar-single {
    margin-bottom: 30px;

    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
  }

  .skill-bar-wrapper {
    margin-top: 15px;
  }

  .skill-bar {
    height: 8px;
    border-radius: 100px;
    background-color: #363636;
    position: relative;
  }

  .skill-bar-percent {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #cecece;
    border-radius: inherit;
  }

  .percent-value {
    position: absolute;
    bottom: calc(100% + 15px);
    right: 0px;
  }

  .dot-large {
    position: absolute;
    bottom: 40px;
    right: 4%;
    max-width: 25vw;
    z-index: -1;
  }
}

// 5.02 agency two styles
.agency-two {
  .agency__thumb {

    &::before,
    &::after {
      content: none;
    }
  }

  .clutch {
    width: 220px;
    border-radius: 100px;

    img {
      border-radius: 100px;
    }
  }

  .cta {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 60px;
    row-gap: 24px;
    flex-wrap: wrap;
  }

  h5 {
    color: var(--white);
  }

  .single {
    p {
      color: var(--secondary-color);
      margin-top: 6px;
      text-transform: capitalize;
    }
  }
}

// 5.03 portfolio styles
.portfolio {
  overflow-x: clip;

  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }

  .portfolio__text-slider {
    margin-bottom: 80px;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    .swiper-slide {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: auto;
    }
  }
 
  .portfolio__text-slider-single {
    h2 {
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 0px;

      i {
        color: var(--primary-color);
 
      }
    }

    a {
      gap: 30px;
     }

    &:nth-of-type(even) {
      .project__text-slider-single {
        h2 {
          font-family: sans-serif;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 2px var(--white);

          i {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px var(--primary-color);
          }

          a {
            &:hover {
              -webkit-text-stroke-color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .str {
    font-family: sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--white);

    i {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px var(--primary-color);
    }

    a {
      &:hover {
        -webkit-text-stroke-color: var(--primary-color);
      }
    }
  }

  .portfolio__single {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 20px;
      width: 0px;
      height: 0px;
      transition: var(--transition);
      background-color: var(--primary-color);
    }

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: 20px;
      height: 0px;
      width: 0px;
      transition: var(--transition);

      background-color: var(--primary-color);
    }

    a {
      width: 100%;
    }

    img {
      width: 100%;
      min-height: 300px;
    }

    .portfolio__single-content {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 40px;
      background-color: var(--white);
      text-align: end;
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: flex-end;
      justify-content: flex-end;
      transform: translateY(-160%) scale(1.4);
      transition: var(--transition);
      max-width: 90%;

      a {
        width: auto;

        i {
          font-size: 56px;
          color: var(--primary-color);
        }
      }

      h4 {
        a {
          color: var(--black);
          font-weight: 600;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    &:hover {
      &::before {
        width: 1px;
        height: calc(100% - 40px);
      }

      &::after {
        height: 1px;
        width: calc(100% - 40px);
      }

      .portfolio__single-content {
        transform: translateY(0px) scale(1);
      }
    }
  }

  .portfolio__single-active {
    &::before {
      width: 1px;
      height: calc(100% - 40px);
    }

    &::after {
      height: 1px;
      width: calc(100% - 40px);
    }

    .portfolio__single-content {
      transform: translateY(0px) scale(1);
    }
  }

  .portfolio__single-alt-wrapper {
    background-color: black;
    padding: 20px;
    border: 1px solid var(--primary-color);
    height: 100%;
  }

  .portfolio__single-alt {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 1;
    min-height: 300px;

    h4 {
      text-transform: uppercase;
    }

    .arr {
      position: absolute;
      bottom: 60px;
      left: 60px;
      font-size: 120px;
      font-weight: 900;
      color: var(--primary-color);
    }

    img {
      max-width: 25%;
    }

    .dot-one {
      position: absolute;
      top: 40px;
      left: 40px;
      z-index: -1;
    }

    .dot-two {
      position: absolute;
      bottom: 40px;
      right: 40px;
      z-index: -1;
    }
  }
}

// 5.04 poftfolio two styles
.portfolio-two {
  .portfolio__text-slider {
    margin-bottom: 80px;
  }

  .portfolio__text-slider-single {
    h2 {
      margin-top: -20px;
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 0px;

      i {
        color: var(--primary-color);
      }
    }

    &:nth-of-type(even) {
      h2 {
        font-family: sans-serif;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px var(--white);

        i {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 2px var(--primary-color);
        }
      }
    }
  }

  .portfolio-two__filter-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 24px;
    justify-content: space-between;

    button {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      text-transform: uppercase;

      span {
        color: #474747;
        transition: var(--transition);
      }

      &:hover {
        color: var(--primary-color);

        span {
          color: var(--white);
        }
      }
    }

    .active {
      color: var(--primary-color);

      span {
        color: var(--white);
      }
    }
  }
}

.filter-item-space {
  margin-bottom: 30px;
}

// 5.05 masonry filter styles
.masonry-grid {
  margin-bottom: -30px;
}

// 5.06 portfolio three styles
.portfolio-three {
  position: relative;
  z-index: 1;

  .slick-track {
    display: flex;
  }

  .portfolio__single {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    flex: 1;

    &::before,
    &::after {
      content: none;
    }

    a {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      min-height: 360px;
    }

    .portfolio__single-content {
      position: absolute;
      bottom: 0px;
      top: unset;
      right: unset;
      left: 0px;
      padding: 40px;
      background-color: var(--white);
      text-align: end;
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: flex-end;
      justify-content: flex-end;
      transform: translateY(160%) scale(1.4);
      transition: var(--transition);
      max-width: 90%;

      a {
        width: auto;

        i {
          font-size: 56px;
          color: var(--primary-color);
        }
      }

      h4 {
        a {
          color: var(--black);
          font-weight: 600;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    &:hover {
      .portfolio__single-content {
        transform: translateY(160%) scale(1.4);
      }
    }
  }

  .swiper-slide-active {
    .portfolio__single-content {
      transform: translateY(0px) scale(1);
    }

    &:hover {
      .portfolio__single-content {
        transform: translateY(0px) scale(1);
      }
    }
  }

  .slide-group {
    position: absolute;
    padding: 0px 20px;
    top: 70%;
    left: 0%;
    right: 0%;
    transform: translateY(-70%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    z-index: 2;
    width: 100%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
}

// 5.07 offer styles
.offer {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .star {
    position: absolute;
    bottom: 20%;
    z-index: -1;
    left: 40%;
    transform: translate(-40%, -20%);
  }

  .offer__cta {
    .sub-title {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      padding: 12px 20px;
      line-height: 1;
      border: 1px solid #414141;
      color: #404040;
      border-radius: 30px;
      margin-bottom: 32px;
      text-transform: uppercase;
      margin-bottom: 20px;
      transition: var(--transition);

      i {
        transform: rotate(-45deg);
        color: var(--primary-color);
        opacity: 0.5;
        transition: var(--transition);
      }
    }

    h2 {
      a {
        justify-content: space-between;
        text-transform: capitalize;
        width: 100%;
        font-weight: 500;
        color: #404040;
        gap: 16px;

        i {
          font-weight: 900;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px #404040;
          transition: var(--transition);
        }
      }
    }

    .offer__cta-single {
      position: relative;
      margin-bottom: 65px;

      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }

    .offer-thumb-hover {
      width: 200px;
      height: 270px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      inset-inline-start: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position-x: 75%;
      opacity: 0;
      transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
      margin: -200px 0 0 -150px;
      overflow: hidden;
      pointer-events: none;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .offer__cta-single {
      &:hover {
        .sub-title {
          color: var(--primary-color);

          i {
            opacity: 1;
          }
        }

        h2 {
          a {
            color: var(--primary-color);

            i {
              -webkit-text-fill-color: unset;
              -webkit-text-stroke: 0px;
              color: var(--primary-color);
            }
          }
        }

        .offer-thumb-hover {
          opacity: 1;
        }
      }
    }
  }
}

// 5.08 offer two styles
.offer-two {

  .offer-two__slider,
  .offer-two__slider-rtl {
    margin: -60px 0px;
  }

  .offer-two__slider {
    .offer__cta {
      direction: ltr;
    }
  }

  .offer__cta {
    padding: 60px 0px;

    .sub-title {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      padding: 12px 20px;
      line-height: 1;
      border: 1px solid #414141;
      color: #404040;
      border-radius: 30px;
      margin-bottom: 32px;
      text-transform: uppercase;
      margin-bottom: 20px;
      transition: var(--transition);

      i {
        transform: rotate(-45deg);
        color: var(--primary-color);
        opacity: 0.5;
        transition: var(--transition);
      }
    }

    h2 {
      a {
        justify-content: space-between;
        text-transform: capitalize;
        width: 100%;
        font-weight: 500;
        color: #404040;
        gap: 16px;

        i {
          font-weight: 900;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px #404040;
          transition: var(--transition);
        }
      }
    }

    .offer__cta-single {
      position: relative;
    }

    .offer-thumb-hover {
      width: 140px;
      height: 140px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      inset-inline-start: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position-x: 75%;
      opacity: 0;
      transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
      margin: -120px 0 0 -120px;
      overflow: hidden;
      pointer-events: none;
      z-index: 1;
    }

    .offer__cta-single {
      &:hover {
        .sub-title {
          color: var(--primary-color);

          i {
            opacity: 1;
          }
        }

        h2 {
          a {
            color: var(--primary-color);

            i {
              -webkit-text-fill-color: unset;
              -webkit-text-stroke: 0px;
              color: var(--primary-color);
            }
          }
        }

        .offer-thumb-hover {
          opacity: 1;
        }
      }
    }
  }

  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }

  .swiper-slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}

// 5.09 testimonial styles
.testimonial {
  .testimonial__text-slider {
    margin-bottom: 80px;
  }

  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  // .testimonial__text-slider-single {
  //   h2 {
  //     font-weight: 900;
  //     text-transform: uppercase;
  //     display: flex;
  //     align-items: center;
  //     gap: 30px;
  //     margin-bottom: 0px;
  //     font-family: sans-serif;
  //     -webkit-text-fill-color: transparent;
  //     -webkit-text-stroke: 2px var(--white);

  //     a {
  //       gap: 30px;
  //     }

  //     // i {
  //     //   -webkit-text-fill-color: var(--primary-color);
  //     //   -webkit-text-stroke: 0px var(--primary-color);
  //     //   color: var(--primary-color);
  //     // }

  //     // a {
  //     //   &:hover {
  //     //     -webkit-text-stroke-color: var(--primary-color);
  //     //   }
  //     // }
  //   }
  // }

  .testimonial-s__slider {
    .thumb {
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -80px;
      }
    }

    .testimonial-s__content {
      .quote {
        i {
          font-size: 56px;
          color: var(--primary-color);
        }
      }

      .content {
        margin: 30px 0px;
      }

      h4 {
        font-weight: 400;
        text-transform: capitalize;
      }

      .content-cta {
        p {
          color: var(--primary-color);
          margin-top: 6px;
        }
      }
    }
  }

  .slide-group {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    flex-direction: column;

    button {
      position: relative;
      z-index: 9;
    }
  }

  .other-section {
    position: absolute;
    left: 0px;
    bottom: 130px;
    width: 330px;
    opacity: 0.25;
    transform: translateX(-40%);
  }
}

 